<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo App</title>
</head>
<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="todo">ToDo</a>
    <a href="/signout" style="margin-right: 20px; color: #fff; text-decoration: none;">Sign Out</a>
    <p style="color: white; text-align: center;">Welcome <%=username%></p>
    
  </nav>
