<!DOCTYPE html>
<html>
<head>
  <style>
    body {
  font-family: Arial, sans-serif;
  background-color: #3a3a3a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-form {
  background-color: #482d63;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2 {
  color: #ffcc00;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #8e24aa;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add hover effect for background change */
}

button:hover {
  background-color: #5e156b; /* Change background color on hovering */
}

  </style>
</head>
<body>
  <div class="signup-form">
    <h2>Sign Up</h2>
    <form method="post" >
      <input type="text" placeholder="Name" required name="username">
      <input type="password" placeholder="Password" required name="password">

      <% if(error) { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
        
      <button type="submit">Submit</button>
      <br/>
      <br/>
      <button class="signup-button" onclick="redirectToLogin()">Login</button>
    </form>
  </div>
  <script>
    function redirectToLogin() {
      window.location.href = "/login";
    }
  </script>
</body>
</html>